parameters:
	ignoreErrors:
		-
			message: "#^Method ValeSaude\\\\TelemedicineClient\\\\Contracts\\\\ScheduledTelemedicineProviderInterface\\:\\:schedule\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Contracts/ScheduledTelemedicineProviderInterface.php

		-
			message: "#^Method ValeSaude\\\\TelemedicineClient\\\\Contracts\\\\ScheduledTelemedicineProviderInterface\\:\\:start\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Contracts/ScheduledTelemedicineProviderInterface.php

		-
			message: "#^Method ValeSaude\\\\TelemedicineClient\\\\Providers\\\\DrConsultaScheduledTelemedicineProvider\\:\\:schedule\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Providers/DrConsultaScheduledTelemedicineProvider.php

		-
			message: "#^Method ValeSaude\\\\TelemedicineClient\\\\Providers\\\\DrConsultaScheduledTelemedicineProvider\\:\\:start\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Providers/DrConsultaScheduledTelemedicineProvider.php

		-
			message: "#^Method ValeSaude\\\\TelemedicineClient\\\\Testing\\\\FakeScheduledTelemedicineProvider\\:\\:schedule\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Testing/FakeScheduledTelemedicineProvider.php

		-
			message: "#^Method ValeSaude\\\\TelemedicineClient\\\\Testing\\\\FakeScheduledTelemedicineProvider\\:\\:start\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Testing/FakeScheduledTelemedicineProvider.php
