parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Builders/AbstractBuilder.php

		-
			message: "#^Method ValeSaude\\\\TelemedicineClient\\\\Contracts\\\\ScheduledTelemedicineProviderInterface\\:\\:start\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Contracts/ScheduledTelemedicineProviderInterface.php

		-
			message: "#^Method ValeSaude\\\\TelemedicineClient\\\\Providers\\\\DrConsultaScheduledTelemedicineProvider\\:\\:start\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Providers/DrConsultaScheduledTelemedicineProvider.php

		-
			message: "#^Method ValeSaude\\\\TelemedicineClient\\\\Testing\\\\FakeScheduledTelemedicineProvider\\:\\:start\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Testing/FakeScheduledTelemedicineProvider.php
